.mixin.out/
.vscode/
att-debug/
backups/
buddingcrystals/
crash-reports/
ESM/
essential/
journeymap/
local/
logs/
minemenu/
modernfix/
patchouli_books/
resourcepacks/
saves/
schematics/
screenshots/
shaderpacks/
emojiful/
/.curseclient
/options.txt
/patchouli_data.json
/rhino.local.properties
/usercache.json
/usernamecache.json
/usernamecache.json
/ops.json
/whitelist.json
/observable_announce
/servers.dat
/servers.dat_old
/servers.essential.dat
config/disable_new_world_screen_1.properties
config/emi.css
config/itlt-client.toml.bak
config/libraryferret_1.properties
config/rare-ice.properties
config/sound_physics_remastered/occlusion.properties
config/sound_physics_remastered/reflectivity.properties