.mixin.out/
.vscode/
att-debug/
backups/
buddingcrystals/
crash-reports/
ESM/
essential/
journeymap/
local/
logs/
minemenu/
modernfix/
patchouli_books/
resourcepacks/
saves/
schematics/
screenshots/
shaderpacks/
emojiful/
/.curseclient
/options.txt
/patchouli_data.json
/rhino.local.properties
/usercache.json
/usernamecache.json
/usernamecache.json
/ops.json
/whitelist.json
/observable_announce
/servers.dat
/servers.dat_old
/servers.essential.dat
